/* variables */
/* ----------------------------------------- */
	$font-pri:    'Montserrat', sans-serif;
	$font-sec:    'Broadcast Matter';

	$color-pri:     #b2b2b2;
	$color-seg:     #696868;
	$color-ter:     #bb9f7e;
	$color-qua:     #7b8a93;
	$color-qui:     #ffffff;
	$color-txt:     #919da4;
/* ----------------------------------------- variables */

/* general mixins and functions */
/* ----------------------------------------- */
	@mixin columns($qtd: 2) {
		@include media-breakpoint-down(sm) {
			-webkit-column-count: $qtd; /* Chrome, Safari, Opera */
		  -moz-column-count: $qtd; /* Firefox */
		  column-count: $qtd;
		}
	}

	@mixin cover() {
	  -webkit-background-size: cover !important;
	  -moz-background-size: cover !important;
	  -o-background-size: cover !important;
	  background-size: cover !important;
	}

	@mixin contain() {
	  -webkit-background-size: contain !important;
	  -moz-background-size: contain !important;
	  -o-background-size: contain !important;
	  background-size: contain !important;
  }
  
  @mixin font-sec() { font-family: $font-sec; }

	@mixin h1() { font-size: $font-size-h1; }
	@mixin h2() { font-size: $font-size-h2; }
	@mixin h3() { font-size: $font-size-h3; }
	@mixin h4() { font-size: $font-size-h4; }
	@mixin h5() { font-size: $font-size-h5; }
	@mixin h6() { font-size: $font-size-h6; }

	@mixin thin()   	{ font-weight: 100; }
	@mixin elight()   { font-weight: 200; }
	@mixin light()  	{ font-weight: 300; }
	@mixin normal()  	{ font-weight: 400; }
	@mixin medium()   { font-weight: 500; }
	@mixin semi()    	{ font-weight: 600; }
	@mixin bold()    	{ font-weight: 700; }
	@mixin ebold()    { font-weight: 800; }
	@mixin black()   	{ font-weight: 900; }

	// Font size rem
	@function calculateRem($size) {
	  $remSize: $size / 16px;
	  @return #{$remSize}rem;
	}

	@mixin font($size) {
	  font-size: $size;
	  font-size: calculateRem($size);
	}

	@mixin radius($px) {
	  -webkit-border-radius: $px;
	  -moz-border-radius: $px;
	  -ms-border-radius: $px;
	  border-radius: $px;
	}

	@mixin grayscale_on() {
	  -webkit-filter: grayscale(100%);
	  filter: grayscale(100%);
	  filter: gray;
	  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
	}

	@mixin grayscale_off() {
	  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
	  -webkit-filter: grayscale(0%);
	}

	@mixin grayscale() {
	  @extend grayscale_on();
	  &:hover,
	  &.active {
	  	@extend grayscale_off();
	  }
	}

	@mixin placeholder {
	  &.placeholder { @content; }
	  &:-moz-placeholder { @content; }
	  &::-moz-placeholder { @content; }
	  &::-webkit-input-placeholder { @content; }
	}

	@-webkit-keyframes load {
	  0%, 80%, 100% {
	    box-shadow: 0 0;
	    height: 1em;
	  } 40% {
	    box-shadow: 0 -2em;
	    height: 1.5em;
	  }
	}

	@keyframes load {
	  0%, 80%, 100% {
	    box-shadow: 0 0;
	    height: 1em;
	  } 40% {
	    box-shadow: 0 -2em;
	    height: 1.5em;
	  }
	}
/* ----------------------------------------- general mixins and functions */