@import "bootstrap/bootstrap";
@import "bootstrap/mixins";
@import "bfriend-mixins";
@import "bfriend-styles";
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/* 	font-face  */
/* ----------------------------------------- */
@font-face {
  font-family: "Broadcast Matter";
  src: url("../fonts/BroadcastMatter.woff2") format("woff2"),
       url("../fonts/BroadcastMatter.woff") format("woff"),
       url("../fonts/BroadcastMatter.otf") format("opentype");
  font-style:normal;
  font-weight:400;
}
/* ----------------------------------------- 	font-face */

/* general  */
/* ----------------------------------------- */
body {
  max-width: 100vw;
  overflow-x: hidden;

  &:not(.home) {
    .main-header:before {
      display: none;
    }

    .main-footer {
      margin-top: 0;
    }
  }

  &.page-template-page-restaurante,
  &.page-template-page-regiao,
  &.page-template-page-chales,
  &.page-template-page-contato,
  &.single-cottage {
    .main-header:after {
      display: none;
    }
  }

  &.page-template-page-chales {
    // &.modal-open {
    //   overflow: inherit;
    // }

    // .modal-backdrop {
    //   display: none;
    // }
  }

  &.page-template-page-contato {
    .main-header {
      @include media-breakpoint-down(md) {
        min-height: 120vh;
        &--bg {
          min-height: 140vh;
        }
      }
    }
  }

  &.nav-active {
    overflow: hidden;

    .menu-icon__line {
      transform: translate(0px, 0px) rotate(-45deg);
      &-left {
        transform: translate(2px, 4px) rotate(45deg);
        opacity: 0;
      }
      &-right {
        transform: translate(0px, -8px) rotate(45deg);
        
        @include media-breakpoint-up(md) {
          transform: translate(0px, -12px) rotate(45deg);
        }
      }
    }

    .nav,
    .nav--content {
      visibility: visible;
    }

    .nav {
      &:before,
      &:after {
        transform: translateX(0%) translateY(0%);
        border-radius: 0;
      }
  
      &:before {
        transition-delay: 0s;
      }
  
      &:after {
        transition-delay: .1s;
      }

      li {
        opacity: 1;
        transform: translateX(0%);
        @include transition(opacity .3s ease, transform .3s ease, color .3s ease);

        &:nth-child(0) { transition-delay: 0.5s; }
        &:nth-child(1) { transition-delay: 0.6s; }
        &:nth-child(2) { transition-delay: 0.7s; }
        &:nth-child(3) { transition-delay: 0.8s; }
        &:nth-child(4) { transition-delay: 0.9s; }
        &:nth-child(5) { transition-delay: 1.0s; }
        &:nth-child(6) { transition-delay: 1.1s; }
        &:nth-child(7) { transition-delay: 1.2s; }
        &:nth-child(8) { transition-delay: 1.3s; }
      }
    }
  }
}

.container {
  @include media-breakpoint-up(xl) {
    max-width: 1440px;
  }
} // .container

p {
  color: $color-txt;
  @include light;
} // p

.pseudo {
  content: '';
  display: inline-block;
} // .pseudo

.s-title {
  font-family: $font-sec;
  color: $color-qua;
  line-height: 50px;
  text-align: center;
  @include font(60px);

  &.color-qui {
    color: $color-qui;
  } // .color-qui

  &.small {
    line-height: 48px;
    @include font(58px);
  }

  @include media-breakpoint-up(md) {
    text-align: left;
    line-height: 70px;
    @include font(80px);
  }
  
  @include media-breakpoint-up(xl) {
    line-height: 110px;
    @include font(120px);
  }
} // .s-title

.has-bg {
  position: relative;
  background: url(../images/bg-restaurant.png) no-repeat center top;
  margin: -400px 0 100px;
  padding-top: 350px;
  z-index: 10;
  @include cover;

  @include media-breakpoint-up(md) {
    margin: -400px 0 100px;
    padding-top: 350px;
  }
  @include media-breakpoint-up(lg) {
    margin: -300px 0 100px;
  }
  @include media-breakpoint-up(xl) {}
} // .has-bg

.has-mask {
  -webkit-mask-image: url(../images/mask.svg);
  mask-image: url(../images/mask.svg);
  mask-mode: alpha;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
} // .has-mask

.btn {
  &--classic {
    border: 2px solid $color-ter;
    text-transform: uppercase;
    background: white;
    color: $color-ter;
    padding: 0.85rem 3rem;
    @include radius(0);

    &:hover {
      background: $color-ter;
      color: white;
    }

    @include media-breakpoint-up(md) {
      padding: 0.85rem;
    }

  }
  &--has-bg {
    background: transparent url(../images/btn-bg.png) no-repeat center center;
    width: 226px;
    height: 70px;
    color: $color-qui;
    text-transform: uppercase;
    @include font(18px);
    @include semi;

    &.btn-check {
      background: transparent url(../images/btn-tarifario.png) no-repeat center center;
      width: 100%;
      max-width: 430px;
      height: 100px;
      color: #162b47;
      @include font(20px);
      @include light;
      @include contain;
    }
  }
}

.has-effect {
  display: block;
  overflow: hidden;

  img { @include transition(all 400ms ease-in-out); }
  &:hover {
    img { transform: scale(1.1); }
  }
}

.nav-btn { 
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 15px; right: 15px;
  z-index: 100;
  @include transition(all 300ms ease-in-out);

  @include media-breakpoint-up(md) {
    top: 30px; right: 30px;
  }

  @include media-breakpoint-up(lg) {
    top: 50px; right: 45px;
  }

  &:after, &:before {
    @extend .pseudo;
    position: absolute;
    background: white;
    @include radius(50%);
  }

  &:before {
    top: -65px; right: -55px;
    width: calc(95px + 30px);
    height: calc(95px + 30px);
    z-index: 1;
    opacity: 0.2;

    @include media-breakpoint-up(md) {
      top: -160px; left: -75px;
      width: calc(190px + 70px);
      height: calc(190px + 70px);
    }
    @include media-breakpoint-up(lg) {
      top: -230px; left: -105px;
      width: calc(290px + 80px);
      height: calc(290px + 80px);
    }
  }
  &:after {
    top: -50px; right: -40px;
    width: 95px;
    height: 95px;
    z-index: 2;
    @include media-breakpoint-up(md) {
      top: -115px; left: -45px;
      width: 190px;
      height: 190px;
    }
    @include media-breakpoint-up(lg) {
      top: -190px; left: -65px;
      width: 290px;
      height: 290px;
    }
  }

  .menu-icon {
    cursor: pointer;
    position: relative;
    height: 30px;
    width: 30px;
    display: block;
    z-index: 5;

    &__line {
      width: 30px;
      height: 3px;
      display: block;
      margin-bottom: 5px;
      background-color: #7c97ac;
      cursor: pointer;
      @include transition(transform .2s ease, background-color .5s ease);
    }

    
    @include media-breakpoint-up(md) {
      height: 45px;
      width: 45px;
      &__line {
        width: 45px;
        height: 5px;
        margin-bottom: 7px;
      }
    }
  }
}

.nav {
  position: fixed;
  z-index: 98;
  
  &:before {
    @extend .pseudo;
    position: fixed;
    top: 0; right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(#94b3c5, 0.85);
    border-bottom-left-radius: 200%;
    z-index: -1;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
    transform: translateX(100%) translateY(-100%);
    transition-delay: .2s;
  }

  &--content {
    position: fixed;
    visibility: hidden;
    top: 50%;
    margin-top: 20px;
    transform: translate(0%, -50%);
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

.nav__list {
	position: relative;
	padding: 0;
	margin: 0;
  z-index: 2;

  li {
    position: relative;
    display: block;
    transition-delay: 0.8s;
    opacity: 0;
    text-align: center;
    color: white;
    overflow: hidden; 
    transform: translate(100px, 0%);
    transition: opacity .2s ease, transform .3s ease;

    a { 
      position: relative;
      text-decoration: none;
      color: white;
      overflow: hidden; 
      z-index: 2;
      display: inline-block;
      transition: all 200ms linear; 
      @include font(24px);
      @include light;

      &:hover {
        color: darken(#94b3c5, 80%);
      }

      @include media-breakpoint-up(md) {
        @include font(32px);
      }
    }

    &.check {
      margin-top: 5px;
      a {
        padding: 0.5rem 2.5rem;
        background: $color-qui;
        color: #8facba;
        &:hover {
          background: darken(#94b3c5, 20%);
          color: $color-qui;
        }
      }
    }
  }  
}

.slick-slider {
  &:not(.cottages--slider) {
    .slick-dots {
      z-index: 45;
      li {
        margin: 0 10px;
        width: 22px;
        height: 22px;

        button {
          padding: 0;
          width: 22px;
          height: 22px;

          &:before {
            color: $color-qua;
            @include font(22px);
          }
        }
        &.slick-active {
          button:before {
            color: $color-qua;
          }
        }
      }
    }
  }
}

.gallery--slider {
  &.slick-slider {
    .slick-dots {
      bottom: 150px;
      z-index: 95;

      li {
        button {
          &:before {
            color: white;
            opacity: .6;
          }
        }
        &.slick-active {
          button:before {
            color: white;
            opacity: 1;
          }
        }
      }
    }
  }
}

.full-right {
  flex: 100%;
  max-width: 100%;
  width: 100%;

  @include media-breakpoint-up(md) {
    
  }
  @include media-breakpoint-up(lg) {
    position: absolute;
    top: -10%; left: 0;
    flex: calc(((100vw - 100%) / 2) + (60% - 95px));
    max-width: calc(((100vw - 100%) / 2) + (60% - 95px));
    left: calc(40% + 95px);
  }
  
  @include media-breakpoint-up(xl) {
    top: -30%;
  }
} // .full-right

.list-infos {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: flex;
    align-items: flex-start;

    p { flex: 1; }

    i, svg { color: $color-pri; }

    ul {
      display: flex;
      padding: 0;
      margin: 0 auto 30px;
      list-style: none;

      li {
        &:not(:last-child) {
          margin-right: 15px;
        }

        a {
          @include font(20px);
          &:hover {
            i, svg {
              color: $color-seg;
            }
          }
        }
      }

      @include media-breakpoint-up(md) {
        margin: 30px 0 0;
      }
    }
  }
} // .list-infos

.pt-control {
  padding-top: 100px;
}

.list-buttons {
  display: flex;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  justify-content: center;

  li {
    margin: 0 15px;
    display: inline-block;
  }
}

.slick-dots-container {
  width: 6.5rem;
  overflow: hidden;
  display: block;
  padding: 0;
  margin: 20px auto 0;
  height: 1rem;
  position: relative;

  > ul {
    padding: 0;
    display: flex;
    transition: all 0.25s;
    position: relative;
    margin: 0;
    list-style: none;
    transform: translateX(0);
    align-items: center;
    bottom: unset;
    height: 100%;

    li {
      width: 0.625rem;
      height: 0.625rem;
      margin: 0 0.25rem;
      background-color: rgba($color-qua, .7);
      border: none;
      border-radius: 50%;
      @include transition(all 150ms ease-in-out);

      button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 1.25rem;
        height: 1.25rem;
        padding: 0.3125rem;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: 0;
        background: 0 0;

        &:before {
          display: none;
        }
      }

      &.p-small-1,
      &.n-small-1 {
        // transform: scale(0.8);
      }

      &.slick-active {
        transform: scale(1.3);
        transform-origin: center;
        background: $color-qua;
      }
    }    
  }
}
/* ----------------------------------------- general */

/* header */
/* ----------------------------------------- */
  .main-header {
    position: relative;
    height: 75vh;
    overflow: hidden;

    h1 {
      position: absolute;
      top: 38%; left: 50%;
      transform: translate(-50%, -50%);
      color: white; 
      z-index: 10;
    }
    
    &:before,
    &:after {
      @extend .pseudo;
      position: absolute;
      bottom: 0; left: 0;
      width: 100%;
    }

    &:before {
      height: 100%;
      opacity: 0.3;
      background: url(../images/mask-home.png) no-repeat center bottom;
      z-index: 1;
    }

    &:after {
      background: url(../images/contact-mask-bottom.png) no-repeat center top;
      height: 100px;
      background-size: 100%;
      transform: scaleX(-1);
      filter: FlipH;
      z-index: 2;
    }

    &.no-mask {
      &:before { background: transparent; z-index: 40; }
    }

    &--bg {
      position: relative;
      min-height: 80vh;
      background-position: center center;
      background-repeat: no-repeat;
      // background-attachment: fixed;
      top: 0;
      @include cover;
    }

    @include media-breakpoint-up(md) {
      height: 100vh;

      &--bg {
        min-height: 100vh;
      }
      &:after {
        height: 200px;
      }
    }
    @include media-breakpoint-up(lg) {
      &--bg {
        min-height: 110vh;
      }

      &:after {
        background-size: contain;
        background-repeat: repeat-x;
      }
      h1 {
        @include font(182px);
      }
    }
    @include media-breakpoint-up(xl) {}

    .videoContainer {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .container-contact {
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;

      h1 {
        position: relative;
        top: inherit; left: inherit;
        transform: none;

        @include media-breakpoint-up(lg) {
          margin-bottom: 100px;
        }
      }

      .list-infos {
        li {
          p, a { color: $color-qui; }

          i, svg { color: $color-qui; }
      
          ul {
            li {
              a {
                color: $color-qui;
                &:hover {
                  i, svg {
                    color: $color-seg;
                  }
                }
              }
            }
          }
        }
      } // .list-infos
    }
  }
/* ----------------------------------------- header */

/* 	cottages  */
/* ----------------------------------------- */
  .cottages {
    margin: 30px 0;

    @include media-breakpoint-down(md) {
      .container {
        padding-left: 0;
        padding-right: 0;

        .row {
          margin-left: 0;
          margin-right: 0;

          .col-md-11 {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }

    &--slider {
      .box-cottage {
        img {
          width: 100%;
        }
        @include media-breakpoint-up(md) {
          padding: 20px;
        }
        @include media-breakpoint-up(xl) {
          padding: 30px;
        }
      }
    }

    @include media-breakpoint-up(md) {
      margin: 30px 0 60px;
    }

    @include media-breakpoint-up(lg) {
      margin: 30px 0 100px;
    }
  }
/* ----------------------------------------- 	cottages */

/* 	about  */
/* ----------------------------------------- */
  .about {
    position: relative;
    z-index: 10;
    min-height: 500px;

    &:before {
      @extend .pseudo;
      position: absolute;
      top: -350px; left: 0;
      width: 100%;
      height: 450px;
      background: url(../images/mask-header.png) no-repeat center top;
      background-size: 100%;
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
      display: none;
    }
  }
/* ----------------------------------------- 	about */

/* 	restaurant  */
/* ----------------------------------------- */
  .restaurant {
    .s-title {
      @include media-breakpoint-up(lg) {
        line-height: 98px;
        max-width: 400px;
      }
    }
  }
/* ----------------------------------------- 	restaurant */

/* 	contact  */
/* ----------------------------------------- */
  .contact {
    position: relative;
    overflow: hidden;
    padding-top: 300px;
    padding-bottom: 400px;
    // min-height: 130vh;

    &--bg {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      
      &:after {
        @extend .pseudo;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0; left: 0;
        background: url(../images/contact-mask.png) no-repeat center top;
        background-attachment: fixed;
        opacity: .3;
        z-index: 1;
      }

    }

    &:before {
      @extend .pseudo;
      @include contain;
      background-image: url(../images/contact-mask-top.png);
      background-position: center top;
      background-repeat: repeat-x;
      z-index: 2;
      position: absolute;
      top: 0;
      height: 200px;
      width: 100%;
    }
    
    &:after {
      @extend .pseudo;
      @include contain;
      background-image: url(../images/contact-mask-bottom.png);
      background-position: center bottom;
      background-repeat: repeat-x;
      z-index: 2;
      position: absolute;
      bottom: 0;
      height: 300px;
      width: 100%;
    }
    

    &--form {
      position: relative;
      // top: 45%; left: 50%;
      // transform: translate(-50%, -50%);
      width: 80%;
      margin: 0 auto;
      max-width: 440px;
      z-index: 60;
    }

  }
/* ----------------------------------------- 	contact */

/* 	articles  */
/* ----------------------------------------- */
  .box-cottage {
    h2 {
      @include font(20px);
      @include light;

      a {
        color: $color-txt;

        &:hover {
          color: $color-seg;
        }
      }

      @include media-breakpoint-up(lg) {
        @include font(25px);
      }
    }
  }

  .box-experience {
    margin-bottom: 80px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 240px;
    }
  }

  .box-dishe {
    margin-bottom: 30px;

    img {
      -webkit-mask-image: url(../images/mask.svg);
      mask-image: url(../images/mask.svg);
      mask-mode: alpha;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: contain;
      mask-size: contain;
    }

    h2 {
      color: $color-qua;
      @include font(18px);
      @include semi;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 70px;
      h2 {
        @include font(25px);
      }
    }
    @include media-breakpoint-up(lg) {
      margin-bottom: 100px;
    }
  }

  .content-post {
    img {
      max-width: 100px;
      @include media-breakpoint-up(md) {
        max-width: 300px;
      }
      @include media-breakpoint-up(lg) {
        max-width: 300px;
      }
    }

    h2 {
      color: #4c4c4c;
      @include semi;
      @include media-breakpoint-down(md) {
        @include font(18px);
      }
    }
    p {
      &:not(.h6) {
        font-size: rem(18);
        color: #4c4c4c; 
      }
      &.h6 {
        color: $color-seg;
        @include media-breakpoint-down(md) {
          @include font(14px);
        }
      }
    }
    
    a.media {
      // @extend .transition-default;
      opacity: 1;
      &:hover {
        opacity: .7;                    
        &, & * {
          text-decoration: none;
        }
      }
    }
  } // .content-post

  .singular-post {
    #post-relacionados {

      article {
        overflow: hidden;
        padding-bottom: 24px;

        a {
          position: relative;
          overflow: hidden;
          transition: 350ms ease all;
          width: 101%;
          min-height: 350px;
          background-size: 75px auto;
          background-position: right top;
          @include cover;
          
          &:before, &:after {
            content: "";
            position: absolute;
            right: -1px;
            left: -1px;
            bottom: 0;
            top: 0;                        
          }
          // Transition mask
          &:before {
            background: linear-gradient(to top, rgba(0,0,0,.9) 0%,rgba(0,0,0,.6) 40%, rgba(0,0,0,.1) 100%);
            opacity: 1;
          }
          // Full mask
          &:after {
            background-color: rgba($color: #000000, $alpha: .9);
            opacity: 0;
            z-index: 2;
            transition: 300ms ease all;
          }
          &:hover {
            text-decoration: none;
            &:after { opacity: 1; }
          }

          h2 {
            color: $color-qui;
            line-height: 2rem;
            @include semi;
          }

          .author,
          .category {
            color: $color-ter;
            @include font(14px);
            @include semi;
          }

          .info {
            position: relative;
            z-index: 3;
            padding-top: 5rem;
            display: flex;
            flex-direction: column;

            .title {
              @include font(16px);
            }
          }
        }
      }
    }
  }

  .singular-cottage {
    &--header {
      padding: 50px 0 40px;
      position: relative;
      z-index: 10;
      background: #edeae6;

      &:before, &:after {
        @extend .pseudo;
        position: absolute;
        left: 0;
        width: 100%;
        height: 18px;
      }

      &:before {
        top: -18px;
        background: url(../images/detail-c-top.png) repeat-x center top;
      }

      &:after {
        bottom: -18px;
        background: url(../images/detail-c-bottom.png) repeat-x center bottom;
      }

      .s-title { color: #879ba4; }
      p {
        span {
          @include font(35px);
        }

        &.obs {
          @include font(10px);
          @include bold;
        }
      }

      @include media-breakpoint-up(md) {
        padding: 80px 0 40px;
      }

      @include media-breakpoint-up(xl) {
        padding: 110px 0 40px;
      }
    } // &--header

    &--content {
      .comfort {
        background: #b6c4cb;
        padding: 60px 0 80px;

        .s-title,
        a {
          color: #768b95;
        }

        p {
          color: #6e7c83;
        }

        a {
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          width: 245px;
          height: 70px;
          background: url(../images/check-darken.png) no-repeat center center;
          color: white;
          @include cover;

          &:hover {
            opacity: 0.9;
          }
        }
      }

      .testimonials {
        position: relative;
        padding: 80px 0 40px;
        background: #edeae6;

        .s-title {
          color: #879ba4;
        }

        &:before {
          @extend .pseudo;
          position: absolute;
          left: 0;
          width: 100%;
          height: 18px;
          top: -18px;
          background: url(../images/detail-c-top.png) repeat-x center top;
        }

        p {
          margin-bottom: 30px;
          color: #666666;
          &.name {
            @include medium;
          }
        }
      }
    } // &--content

    &--footer {
      position: relative;
      figure {
        margin: 0;
        max-width: 1920px;
        display: block;
        margin: 0 auto;
      }

      &:before,
      &:after {
        position: absolute;
        left: 0;
      }

      &:before {
        @extend .pseudo;
        @include contain;
        background-image: url(../images/contact-mask-cottage-top.png);
        background-position: center top;
        background-repeat: repeat-x;
        z-index: 2;
        top: 0;
        height: 200px;
        width: 100%;
      }
      
      &:after {
        @extend .pseudo;
        @include contain;
        background-image: url(../images/contact-mask-bottom.png);
        background-position: center top;
        background-repeat: repeat-x;
        z-index: 2;
        bottom: 0;
        height: 100px;
        width: 100%;
      }

      span {
        width: 145px;
        
      }

      .marker {
        position: absolute;
        display: block;
        width: 50px;
        height: 50px;
        border: 5px solid white;
        transform: translate(-50%, -50%);
        @include radius(50%);

        &:before {
          content: attr(data-title);
          min-width: 150px;
          position: absolute;
          top: -20px; left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          text-transform: uppercase;
          color: white;
          @include font(18px);
          @include medium;
        }
      }

      @include media-breakpoint-up(md) {
        .marker {
          width: 80px;
          height: 80px;
          border: 6px solid white;
        }
      }
      @include media-breakpoint-up(lg) {
        .marker {
          width: 100px;
          height: 100px;
          &:before {
            top: -30px;
          }
        }
      }
      @include media-breakpoint-up(xl) {
        .marker {
          width: 145px;
          height: 145px;
          border: 10px solid white;
        }
      }
    }
  }

/* ----------------------------------------- 	articles */

/* 	dishes  */
/* ----------------------------------------- */
  .dishes {
    position: relative;

    .slick-dotted.slick-slider {
      margin-bottom: 100px;
    }

    .s-title {
      @include media-breakpoint-up(xl) {
        line-height: 100px;
      }
    }

    p { @include normal; }

    &--slider {
      .slick-slide {
        > div {
          display: flex;
        }
      }
    }
  }
/* ----------------------------------------- 	dishes */

/* 	p-region  */
/* ----------------------------------------- */
  .p-region {

    &.has-bg {
      @include media-breakpoint-down(md) {
        margin: -200px 0 100px;
        padding-top: 250px;
      }
    }
    p {
      text-align: justify;
      color: #666666; 
      @include normal;
    }
    a {
      color: $color-qua;
      &:hover {
        color: #666666; 
      }
    }
  }
/* ----------------------------------------- 	p-region */

/* 	p-cottages  */
/* ----------------------------------------- */
  .p-cottage {
    position: relative;

    &:before {
      @extend .pseudo;
      position: absolute;
      left: 0;
      width: 100%;
      height: 300px;
      top: -150px;
      background: url(../images/cottage-mask-header-small.png) repeat-x center center;
      background-size: contain;
      z-index: 40;
    }


    &--hotspots {
      position: relative;
      overflow: hidden;

      max-width: 1920px;
      margin-left: auto;
      margin-right: auto;
      
      img {
        transition: 450ms ease-in-out all;
      }
      &:hover img {
        filter: brightness(65%);
      }
      .marker {
        padding: 0;
        background: transparent;
        border: 0;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: $color-qui;
        cursor: pointer;
        z-index: 10;
        @include font(18px);
        @include medium;

        i {
          display: block;
          width: 33px;
          height: 47px;
          background: url(../images/icon-marker.png) no-repeat center center;
          @include contain;
          transition: 450ms ease-in-out all;
          &:hover {
            filter: brightness(65%);
          }
        }

        &:focus {
          outline: none;
        }

        @include media-breakpoint-up(md) {
          @include font(28px);
          
          i {
            width: 53px;
            height: 67px;
          }
        }
      }

    } // &--hotspots

    &--content {
      position: relative;
      padding-top: 120px;

      &:before {
        @extend .pseudo;
        position: absolute;
        left: 0;
        width: 100%;
        background: url(../images/cottage-mask-bottom-small.png) repeat-x center center;
        background-size: contain;
        z-index: 2;
        @include media-breakpoint-up(md) {
          top: -130px;
          height: 130px;          
        }
      }

      .box-cottage {
        margin-bottom: 40px;
        @include media-breakpoint-up(lg) {
          margin-bottom: 60px;
        }
        @include media-breakpoint-up(xl) {
          margin-bottom: 100px;
        }
      }
    } // &--content

    &--footer {
      .s-title {
        margin-top: 50px;
        @include media-breakpoint-up(xl) {
          margin-top: 150px;
        }
      }

      .full-right {
        top: -10%;
        z-index: -1;

        @include media-breakpoint-up(sm) {}
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {
          flex: calc(((100vw - 100%) / 2) + (60% - 95px));
          max-width: calc(((100vw - 100%) / 2) + (60% - 95px));
          left: calc(40% + 95px);
        }
        @include media-breakpoint-up(xl) {}
      }
      
      @include media-breakpoint-up(sm) {}
      @include media-breakpoint-up(md) {}
      @include media-breakpoint-up(lg) {}
      @include media-breakpoint-up(xl) {
        min-height: 937px;
      }
    }
  }
/* ----------------------------------------- 	p-cottages */

/* 	p-rates  */
/* ----------------------------------------- */
  .p-rates {
    &--box {
      height: 60px;
      border: 3px solid #8da3ad;
      display: flex;
      align-items: center;
      padding: 0 30px;

      p {
        margin: 0;
        color: black;
        line-height: 20px;
        @include font(20px);
        @include medium;
      }
    }

    &--footer {
      h3.s-title {
        @include font(60px);
      }

      li, p {
        color: $color-qua;
      }

      ul {
        list-style: none;

        li {
          &:before {
            @extend .pseudo;
            margin-right: 25px;
            width: 20px;
            height: 16px;
            background: url(../images/icon-check.png) no-repeat center center;
          }
        }
      }
    }
  }
/* ----------------------------------------- 	p-rates */

/* 	sidebar  */
/* ----------------------------------------- */
#sidebar {
  h2 { display: none; }
}

#search-box {
  position: relative;

  input {
    &[type=search] {
      border: 1px solid #f2f2f2;
      outline: none;
      width: 100%;
      font-size: 15px;
      padding: 8px 76px 8px 16px;
      @include radius(0);

      &:focus {
        box-shadow: none;
      }
    }
  }
  input, button {
    height: 40px;
  }

  button[type=submit] {
    margin: 0 !important;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    bottom: 0;
    background-color: $color-seg;
    appearance: none;
    border: 0;
    color: $color-qui;
    @include radius(0);

    &:hover {
      background-color: $color-ter;
      cursor: pointer;
    }
  }
}
.widget_media_image {
  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }        
}
.widget_categories {        
  ul {
    padding: 0;
    margin: 2em 0;
    li { 
      list-style: none;
      margin-bottom: 0.5em;
      a {
        color: #b2b2b2;
        @include bold;

        &:hover {
          color: $color-ter;
        }
      }
    }
  }
}
/* ----------------------------------------- 	sidebar */

/* 	pagination  */
/* ----------------------------------------- */
.wp-pagenavi,
.pagination {
  margin-top: 40px;
  margin-bottom: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  > * {
    min-width: 30px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-qua;      
    &.current {
      text-decoration: underline;
    }
  }    
  .previouspostslink {
    order: -1;
    flex-shrink: 0;
  }
  .nextpostslink {
    order: 100;
    flex-shrink: 0;
  }

  .page-item {
    .page-link {
      border: 0;
      color: $color-qua;
      @include radius(0);
      @include medium;

      &[rel="prev"],
      &[rel="next"] {
        width: 40px;
        height: 40px;
        border: 2px solid $color-qua;
        @include radius(50%);
      }

      &:hover {
        color: $color-ter;
        text-decoration: underline;
        background: transparent;
        &[rel="prev"],
        &[rel="next"] {
          border-color: $color-ter;
        }
      }
      
    }

    &.active {
      .page-link {
        color: $color-ter;
        text-decoration: underline;
        background: transparent;
      }
    }
  }

  @include media-breakpoint-up(sm) {	
    // margin-bottom: 0;
    > * {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
/* ----------------------------------------- 	pagination */

/* 	modal  */
/* ----------------------------------------- */
.modal-availability {

  .modal-content {
    background-color: transparent;
    background-image: url(../images/bg-disponibilidade.png);
    background-repeat: no-repeat;
    background-position: center center;
    border: 0;
    min-height: 90vh;
    @include radius(0);
    background-size: 100%;
  
    .modal-header {
      border-bottom: 0;
      align-items: center;
      justify-content: center;
      padding: 150px 150px 0;
      position: relative;
      @include radius(0);
  
      .close {
        color: transparent;
        text-shadow: none;
        width: 50px; height: 50px;
        margin: 0;
        padding: 0;
        background: url(../images/close-modal.png) no-repeat center center;
        opacity: 1;
      }
  
      .s-title {
        text-align: center;
        color: white;
      }
    }
  
    .modal-body {
      padding: 0 200px;
  
      .wpcf7 {
        label.normal {
          color: white;
          margin-bottom: 5px;
          @include medium;
        }
  
        input[type="date"] {
          color: white;
          background: transparent;
          border: 2px solid #dcdcdc;
          @include radius(0);
  
          &::-webkit-inner-spin-button,
          &::-webkit-calendar-picker-indicator {
            opacity: 0;
            -webkit-appearance: none;
            position: relative;
            z-index: 5;
          }
        }
  
        span.checkin,
        span.checkout {
          position: relative;
  
          &:after {
            @extend .pseudo;
            position: absolute;
            top: 12px; right: 20px;
            width: 30px;
            height: 30px;
            background: url(../images/icon-date.png) no-repeat center center;
            @include contain;
            z-index: 0;
          }
        }
  
      }
    }
  }
}
/* ----------------------------------------- 	modal */

/* footer */
/* ----------------------------------------- */
  .main-footer {
    position: relative;
    z-index: 10;
    padding-top: 60px;
    padding-bottom: 60px;

    h2 {
      margin-bottom: 15px;
      color: $color-seg;
      @include font-sec;
      @include font(40px);

      @include media-breakpoint-up(md) {
        margin-bottom: 10px;
        @include font(26px);
      }
      @include media-breakpoint-up(lg) {
        margin-bottom: 15px;
        @include font(31px);
      }
    }

    p, a {
      color: $color-pri;
      @include font(14px);
      @include normal;
    }

    a {
      &:hover {
        color: $color-seg;
      }
    }

    .navbar-nav {
      .nav-item {
        margin-bottom: 5px;
        .nav-link {
          padding: 0;
          color: $color-pri;
          &:hover {
            color: $color-seg;
          }
        }
        &.active {
          .nav-link {
            color: $color-seg;
          }
        }
      }
    }

    @include media-breakpoint-up(lg) {
      margin-top: -150px;
    }
  }
/* ----------------------------------------- footer */


.modals {
  .modal {
    overflow: hidden !important;
    position: absolute !important;
    background-color: rgba(0,0,0,.4);

    .modal-dialog {
      position: relative;
      height: 80%;

      .thumb {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        -webkit-mask-image: url(../images/mask-modal.png);
        mask-image: url(../images/mask-modal.png);
        mask-mode: alpha;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: cover;
        mask-size: cover;
      }

      .modal-content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: transparent;
        border: 0;
        z-index: 1;
        justify-content: space-between;
        @include radius(0);

        .modal-header {
          border: 0;
          @include radius(0);

          .close {
            width: 42px;
            height: 42px;
            padding: 0;
            background: url(../images/icon-close.png) no-repeat center center;
            position: absolute;
            right: 18%;
            top: 15%;
            opacity: 1;
            span {
              display: none;
            }
          }
        }

        .modal-body {
          padding: 1rem 3.5rem 0 2rem;
          max-width: 805px;
          min-height: 225px;
          flex: 0 0 auto;
          background: url(../images/popover-bg.png) no-repeat center center;
          @include cover;

          h3, p {
            color: black;
            @include medium;
          }

          h3 {
            padding-left: 30px;
            font-family: $font-sec;
            @include font(50px);
          }

          p, a {
            font-style: italic;
            @include font(12px);
          }

          a {
            color: black;
            @include semi;
            &:hover {
              color: $color-seg;
            }
          }
        }
      }

      @include media-breakpoint-up(lg) {
        max-width: 900px;
      }
      
      @include media-breakpoint-up(xl) {
        max-width: 1100px;
      }
    }
  }
}

.check {
  &-float {
    position: absolute;
    right: 30px;
    bottom: 30px;
    z-index: 96;
    background-color: #bb9f7e;
    color: white;
    display: inline-block;
    padding: 15px 25px;
    &:hover {
      color: #6e7c83;
    }
  }
}


.detail-c {
  
  &:before, &:after {
    @extend .pseudo;
    position: absolute;
    left: 0;
    width: 100%;
    height: 18px;
  }

  &__top {
    &:before {
      top: -18px;
      background: url(../images/detail-c-top.png) repeat-x center top;
    }
  }
  &__bottom {
    &:after {
      bottom: -18px;
      background: url(../images/detail-c-bottom.png) repeat-x center bottom;
    }
  }
}


#disponibilidade {
  .wpcf7 input:not([type='radio']), .wpcf7 textarea, select {
    height: 35px;
    padding-right: 5px;
  }
}


